{
  "openapi": "3.1.0",
  "info": {
    "title": "Timetable.lol API",
    "version": "0.2.0",
    "summary": "Accounts, saved plans, room collaboration, feedback, events, and festival reminder push APIs.",
    "description": "Timetable.lol API for the festival planner. The timetable reminder flow is designed for festival grounds where mobile reception can be weak or intermittent: Web Push reminders are best-effort, clients should keep local browser reminder fallback while the page/PWA is active, cache room state, queue local room selection changes where possible, and resync when connectivity returns."
  },
  "servers": [
    {
      "url": "https://api.timetable.lol",
      "description": "Production API"
    },
    {
      "url": "https://api.bluecrazii.nl",
      "description": "BlueCrazii API alias"
    },
    {
      "url": "https://api.festival-timetable.party",
      "description": "Festival Timetable API alias"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local API"
    }
  ],
  "x-festival-ground-notes": {
    "connectivity": "Expect weak or intermittent mobile data on festival grounds.",
    "reminders": "Web Push delivery depends on device, browser, push service, and network quality. Clients should keep local timers while the timetable page/PWA is open and call /api/reminders/schedule again after selection or connectivity changes.",
    "rooms": "Room state should be treated as eventually consistent. Clients should cache the last known state, persist the room clientToken, and retry queued selection changes after reconnecting."
  },
  "tags": [
    {
      "name": "Health"
    },
    {
      "name": "Auth"
    },
    {
      "name": "Account"
    },
    {
      "name": "Events"
    },
    {
      "name": "Artists"
    },
    {
      "name": "Livestreams"
    },
    {
      "name": "Plans"
    },
    {
      "name": "Snapshots"
    },
    {
      "name": "Rooms"
    },
    {
      "name": "Reminders"
    },
    {
      "name": "Telemetry"
    },
    {
      "name": "Admin"
    }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Check admin-only API, database, and SMTP readiness.",
        "description": "Requires an authenticated admin session. Returns API, database, and SMTP readiness for operations checks.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/HealthResponse"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/auth/signup": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Create an account and start a session.",
        "requestBody": {
          "$ref": "#/components/requestBodies/Signup"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/UserResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Log in and start a session.",
        "requestBody": {
          "$ref": "#/components/requestBodies/Login"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UserResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Log out and clear the session cookie.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          }
        }
      }
    },
    "/api/auth/forgot-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Request a password reset email.",
        "requestBody": {
          "$ref": "#/components/requestBodies/ForgotPassword"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkWithMessage"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/auth/reset-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Reset a password with a reset token.",
        "requestBody": {
          "$ref": "#/components/requestBodies/ResetPassword"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UserResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get the current session user, or null when logged out.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/NullableUserResponse"
          }
        }
      }
    },
    "/api/account/me": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get the current account profile.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/UserResponse"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/account/export": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Export the current account data.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountExportResponse"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/account/profile": {
      "patch": {
        "tags": [
          "Account"
        ],
        "summary": "Update the current account profile.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ProfilePatch"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UserResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/account/rooms": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List rooms connected to the current account.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RoomsResponse"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/account/rooms/{roomCode}": {
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Leave a room from the account profile.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RoomCode"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LeaveRoomResponse"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/account/rooms/{roomCode}/delete": {
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Delete a room owned by the current account.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RoomCode"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkWithMessage"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/account": {
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Delete the current account.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/DeleteAccount"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkWithMessage"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get public event configuration.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/EventsConfigResponse"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/events/{eventSlug}/planner-data": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get planner timetable or lineup data for an event.",
        "parameters": [
          {
            "$ref": "#/components/parameters/EventSlug"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PlannerDataResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/events/{eventSlug}/timetable-data": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get timetable data for an event.",
        "description": "Alias of /api/events/{eventSlug}/planner-data for timetable pages.",
        "parameters": [
          {
            "$ref": "#/components/parameters/EventSlug"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PlannerDataResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/livestreams/mixlr/listeners": {
      "get": {
        "tags": [
          "Livestreams"
        ],
        "summary": "Get cached Mixlr listener counts for public livestream counters.",
        "description": "Returns listener counts through the Timetable.lol API cache so browser clients do not call the Mixlr API directly. Counts are cached server-side and the endpoint is rate limited.",
        "parameters": [
          {
            "name": "channels",
            "in": "query",
            "required": true,
            "description": "Comma-separated Mixlr channel slugs, with or without the .mixlr.com suffix.",
            "schema": {
              "type": "string",
              "example": "defqon1blue,defqon1black"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cached listener counts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "updatedAt",
                    "cacheTtlSeconds",
                    "maxChannels",
                    "totalListeners",
                    "channels"
                  ],
                  "properties": {
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "cacheTtlSeconds": {
                      "type": "integer",
                      "example": 600
                    },
                    "maxChannels": {
                      "type": "integer",
                      "example": 16
                    },
                    "totalListeners": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "example": 1234
                    },
                    "channels": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MixlrListenerResult"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/plans": {
      "get": {
        "tags": [
          "Plans"
        ],
        "summary": "List saved plans for the current account.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EventSlugQuery"
          },
          {
            "$ref": "#/components/parameters/PlanTypeQuery"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PlansResponse"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "tags": [
          "Plans"
        ],
        "summary": "Create a saved plan.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PlanWrite"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/PlanResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/plans/current": {
      "get": {
        "tags": [
          "Plans"
        ],
        "summary": "Get the current saved plan for an event and plan type.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EventSlugQueryRequired"
          },
          {
            "$ref": "#/components/parameters/PlanTypeQueryRequired"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PlanResponse"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/plans/upsert": {
      "post": {
        "tags": [
          "Plans"
        ],
        "summary": "Create or update the current plan for an event and plan type.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PlanWrite"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PlanResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/plans/share": {
      "post": {
        "tags": [
          "Plans"
        ],
        "summary": "Create a share link from plan data.",
        "requestBody": {
          "$ref": "#/components/requestBodies/SharePlan"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ShareResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/plans/shared": {
      "get": {
        "tags": [
          "Plans"
        ],
        "summary": "Read a shared plan by token query parameter.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ShareTokenQuery"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PlanResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/plans/{planId}": {
      "get": {
        "tags": [
          "Plans"
        ],
        "summary": "Get a saved plan by id.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PlanId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PlanResponse"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "put": {
        "tags": [
          "Plans"
        ],
        "summary": "Update a saved plan by id.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PlanId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PlanWrite"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PlanResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Plans"
        ],
        "summary": "Delete a saved plan by id.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PlanId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/plans/{planId}/share": {
      "post": {
        "tags": [
          "Plans"
        ],
        "summary": "Create or refresh a share link for a saved plan.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PlanId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ShareResponse"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/snapshots": {
      "post": {
        "tags": [
          "Snapshots"
        ],
        "summary": "Create an anonymous plan snapshot.",
        "requestBody": {
          "$ref": "#/components/requestBodies/SnapshotCreate"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/SnapshotResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/snapshots/{snapshotId}": {
      "get": {
        "tags": [
          "Snapshots"
        ],
        "summary": "Get an anonymous plan snapshot.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SnapshotId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SnapshotResponse"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/rooms": {
      "get": {
        "tags": [
          "Rooms"
        ],
        "summary": "List rooms for the current account.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RoomsResponse"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "tags": [
          "Rooms"
        ],
        "summary": "Create a live friend room.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateRoom"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/JoinRoomResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/rooms/{roomCode}": {
      "get": {
        "tags": [
          "Rooms"
        ],
        "summary": "Get public room metadata.",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoomCode"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RoomInfoResponse"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "tags": [
          "Rooms"
        ],
        "summary": "Update room settings. Host only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoomCode"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateRoom"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RoomStateOk"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Rooms"
        ],
        "summary": "Delete a room. Host only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoomCode"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ClientToken"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeleteRoomResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/rooms/{roomCode}/join": {
      "post": {
        "tags": [
          "Rooms"
        ],
        "summary": "Join or rejoin a live friend room.",
        "description": "Persist clientToken locally so a user can rejoin the same room member after reloads, app restarts, or weak festival-ground connectivity.",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoomCode"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/JoinRoom"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/JoinRoomResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/rooms/{roomCode}/state": {
      "get": {
        "tags": [
          "Rooms"
        ],
        "summary": "Get current room state.",
        "description": "Use X-Client-Token to identify the local member. Clients should cache this response for poor reception and retry state fetches after reconnecting.",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoomCode"
          },
          {
            "$ref": "#/components/parameters/XClientToken"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RoomStateWithMe"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/rooms/{roomCode}/members/me": {
      "patch": {
        "tags": [
          "Rooms"
        ],
        "summary": "Update the current room member profile.",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoomCode"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateRoomMember"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RoomMemberUpdateResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/rooms/{roomCode}/members/{memberId}": {
      "delete": {
        "tags": [
          "Rooms"
        ],
        "summary": "Remove a member from a room. Host only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoomCode"
          },
          {
            "$ref": "#/components/parameters/MemberId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ClientToken"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RoomStateOk"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/rooms/{roomCode}/group-plans": {
      "post": {
        "tags": [
          "Rooms"
        ],
        "summary": "Add a custom group plan item.",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoomCode"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/GroupPlanWrite"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RoomStateOk"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/rooms/{roomCode}/group-plans/{groupPlanId}": {
      "patch": {
        "tags": [
          "Rooms"
        ],
        "summary": "Update a custom group plan item.",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoomCode"
          },
          {
            "$ref": "#/components/parameters/GroupPlanId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/GroupPlanWrite"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RoomStateOk"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Rooms"
        ],
        "summary": "Delete a custom group plan item.",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoomCode"
          },
          {
            "$ref": "#/components/parameters/GroupPlanId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ClientToken"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RoomStateOk"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/rooms/{roomCode}/group-plans/{groupPlanId}/join": {
      "post": {
        "tags": [
          "Rooms"
        ],
        "summary": "Join a custom group plan item.",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoomCode"
          },
          {
            "$ref": "#/components/parameters/GroupPlanId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ClientToken"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RoomStateOk"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Rooms"
        ],
        "summary": "Leave a custom group plan item.",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoomCode"
          },
          {
            "$ref": "#/components/parameters/GroupPlanId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ClientToken"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RoomStateOk"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/rooms/{roomCode}/import-current-plan": {
      "post": {
        "tags": [
          "Rooms"
        ],
        "summary": "Import the current user's saved profile picks into a room.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RoomCode"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ImportCurrentPlan"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ImportCurrentPlanResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/rooms/{roomCode}/selections": {
      "put": {
        "tags": [
          "Rooms"
        ],
        "summary": "Replace the current member's room selections.",
        "description": "For poor connectivity, clients may queue local selection changes and send this compact resync endpoint when the network returns.",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoomCode"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ReplaceSelections"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RoomMemberStateResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/rooms/{roomCode}/selections/add": {
      "post": {
        "tags": [
          "Rooms"
        ],
        "summary": "Add one selection for the current room member.",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoomCode"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SelectionChange"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RoomStateOk"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/rooms/{roomCode}/selections/remove": {
      "post": {
        "tags": [
          "Rooms"
        ],
        "summary": "Remove one selection for the current room member.",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoomCode"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SelectionChange"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RoomStateOk"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/rooms/{roomCode}/selections/{setId}": {
      "put": {
        "tags": [
          "Rooms"
        ],
        "summary": "Add one selection by path setId.",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoomCode"
          },
          {
            "$ref": "#/components/parameters/SetId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ClientToken"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RoomStateOk"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Rooms"
        ],
        "summary": "Remove one selection by path setId.",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoomCode"
          },
          {
            "$ref": "#/components/parameters/SetId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ClientToken"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RoomStateOk"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/rooms/meta/member-colors/{eventSlug}": {
      "get": {
        "tags": [
          "Rooms"
        ],
        "summary": "Get blocked stage colors for member color picking.",
        "parameters": [
          {
            "$ref": "#/components/parameters/EventSlug"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/MemberColorsResponse"
          }
        }
      }
    },
    "/api/reminders/vapid-public-key": {
      "get": {
        "tags": [
          "Reminders"
        ],
        "summary": "Get the VAPID public key for Web Push reminders.",
        "description": "When enabled is false, clients should use local browser reminder timers only.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/VapidPublicKeyResponse"
          }
        }
      }
    },
    "/api/reminders/subscriptions": {
      "post": {
        "tags": [
          "Reminders"
        ],
        "summary": "Save or refresh a Web Push subscription.",
        "description": "The subscription may be linked to the logged-in account when a valid session cookie is present.",
        "requestBody": {
          "$ref": "#/components/requestBodies/PushSubscription"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PushSubscriptionResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Reminders"
        ],
        "summary": "Disable a Web Push subscription and cancel pending reminders.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PushEndpointQuery"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/DeletePushSubscription"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/reminders/schedule": {
      "post": {
        "tags": [
          "Reminders"
        ],
        "summary": "Schedule server-side Web Push reminders for a device subscription.",
        "description": "Replaces pending reminders for the same subscription and event. On festival grounds, clients should call this after each selection change when online and keep local timers as fallback because push delivery can be delayed by weak reception.",
        "requestBody": {
          "$ref": "#/components/requestBodies/SchedulePushReminders"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SchedulePushRemindersResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/telemetry/export": {
      "post": {
        "tags": [
          "Telemetry"
        ],
        "summary": "Track a planner export event.",
        "requestBody": {
          "$ref": "#/components/requestBodies/ExportTelemetry"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/TelemetryResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/telemetry/feedback": {
      "post": {
        "tags": [
          "Telemetry"
        ],
        "summary": "Submit timetable or site feedback.",
        "requestBody": {
          "$ref": "#/components/requestBodies/FeedbackCreate"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/FeedbackCreateResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/admin/me": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get the current admin user.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/UserResponse"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/admin/stats": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get admin dashboard stats.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AdminStatsResponse"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/admin/smtp-test": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Send a test SMTP email.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SmtpTest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkWithMessage"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/admin/events": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get editable event configuration.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/EventsConfigResponse"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Replace event configuration.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/AdminEventsUpdate"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/EventsConfigResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/admin/planner-data/{eventSlug}": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get editable planner data for an event.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EventSlug"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PlannerDataResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Create or replace API-managed planner data for an event.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EventSlug"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PlannerDataUpdate"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PlannerDataResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/admin/feedback": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "List feedback reports.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FeedbackStatusQuery"
          },
          {
            "$ref": "#/components/parameters/FeedbackLimitQuery"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/FeedbackListResponse"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/admin/feedback/{feedbackId}": {
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Update feedback status.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FeedbackId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/FeedbackStatusPatch"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/FeedbackUpdateResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/artists": {
      "get": {
        "tags": [
          "Artists"
        ],
        "summary": "List artists with optional booking counts.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQuery"
          },
          {
            "$ref": "#/components/parameters/SearchAliasQuery"
          },
          {
            "$ref": "#/components/parameters/ArtistLimitQuery"
          },
          {
            "$ref": "#/components/parameters/OffsetQuery"
          },
          {
            "$ref": "#/components/parameters/IncludeEmptyQuery"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ArtistsResponse"
          }
        }
      }
    },
    "/api/artists/search": {
      "get": {
        "tags": [
          "Artists"
        ],
        "summary": "Search artists for picker/autocomplete UI.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQuery"
          },
          {
            "$ref": "#/components/parameters/ArtistSearchLimitQuery"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ArtistSearchResponse"
          }
        }
      }
    },
    "/api/artists/{slugOrId}": {
      "get": {
        "tags": [
          "Artists"
        ],
        "summary": "Get one artist by slug or id.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ArtistSlugOrId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ArtistResponse"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/artists/{slugOrId}/bookings": {
      "get": {
        "tags": [
          "Artists"
        ],
        "summary": "Get timetable bookings for one artist.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ArtistSlugOrId"
          },
          {
            "$ref": "#/components/parameters/ArtistBookingWhenQuery"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ArtistBookingsResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/livestreams/chat/moderator/me": {
      "get": {
        "tags": [
          "Livestreams"
        ],
        "summary": "Check whether the current user is a livestream chat moderator.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LivestreamChatModeratorStatusResponse"
          },
          "401": {
            "$ref": "#/components/responses/LivestreamChatModeratorStatusResponse"
          }
        }
      }
    },
    "/api/livestreams/chat/{eventSlug}/stats": {
      "get": {
        "tags": [
          "Livestreams"
        ],
        "summary": "Get livestream chat moderation stats for an event.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EventSlug"
          },
          {
            "$ref": "#/components/parameters/LivestreamStreamIdsQuery"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LivestreamChatStatsResponse"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/livestreams/chat/{eventSlug}/{streamId}/settings": {
      "put": {
        "tags": [
          "Livestreams"
        ],
        "summary": "Update moderator-controlled livestream chat stream settings.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EventSlug"
          },
          {
            "$ref": "#/components/parameters/StreamId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/LivestreamChatStreamSettingsPatch"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LivestreamChatStreamSettingsResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/livestreams/chat/{eventSlug}/{streamId}/messages": {
      "get": {
        "tags": [
          "Livestreams"
        ],
        "summary": "Get visible livestream chat messages for a stream.",
        "parameters": [
          {
            "$ref": "#/components/parameters/EventSlug"
          },
          {
            "$ref": "#/components/parameters/StreamId"
          },
          {
            "$ref": "#/components/parameters/LivestreamMessageLimitQuery"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LivestreamChatMessagesResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "tags": [
          "Livestreams"
        ],
        "summary": "Create a livestream chat message.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EventSlug"
          },
          {
            "$ref": "#/components/parameters/StreamId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/LivestreamChatMessageCreate"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/LivestreamChatMessageResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Livestreams"
        ],
        "summary": "Clear visible livestream chat messages for a stream.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EventSlug"
          },
          {
            "$ref": "#/components/parameters/StreamId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LivestreamChatClearResponse"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/livestreams/chat/{eventSlug}/{streamId}/messages/{messageId}": {
      "delete": {
        "tags": [
          "Livestreams"
        ],
        "summary": "Delete one livestream chat message.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EventSlug"
          },
          {
            "$ref": "#/components/parameters/StreamId"
          },
          {
            "$ref": "#/components/parameters/ChatMessageId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LivestreamChatDeleteMessageResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/livestreams/chat/{eventSlug}/{streamId}/mutes": {
      "post": {
        "tags": [
          "Livestreams"
        ],
        "summary": "Mute one user in a livestream chat stream.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EventSlug"
          },
          {
            "$ref": "#/components/parameters/StreamId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/LivestreamChatModerateUser"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LivestreamChatMuteResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/livestreams/chat/{eventSlug}/{streamId}/unmutes": {
      "post": {
        "tags": [
          "Livestreams"
        ],
        "summary": "Clear active stream mutes for one user.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EventSlug"
          },
          {
            "$ref": "#/components/parameters/StreamId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/LivestreamChatModerateUser"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LivestreamChatUnmuteResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/livestreams/chat/{eventSlug}/link-permissions": {
      "post": {
        "tags": [
          "Livestreams"
        ],
        "summary": "Approve livestream chat links for one user.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EventSlug"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/LivestreamChatModerateUser"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LivestreamChatLinkPermissionResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/livestreams/chat/{eventSlug}/bans": {
      "post": {
        "tags": [
          "Livestreams"
        ],
        "summary": "Ban one user from all livestream chats for an event.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EventSlug"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/LivestreamChatModerateUser"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LivestreamChatBanResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/livestreams/mixlr/history": {
      "get": {
        "tags": [
          "Livestreams"
        ],
        "summary": "Get stored Mixlr and YouTube listener history.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EventSlugQuery"
          },
          {
            "$ref": "#/components/parameters/MixlrHistoryLimitQuery"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/MixlrListenerHistoryResponse"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/livestreams/youtube/viewers": {
      "get": {
        "tags": [
          "Livestreams"
        ],
        "summary": "Get cached YouTube livestream viewer count.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/YoutubeVideoIdQuery"
          },
          {
            "$ref": "#/components/parameters/YoutubeUrlQuery"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/YoutubeViewerResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/admin/artists/import-sql": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Import artists from SQL INSERT statements.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/AdminArtistSqlImport"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ArtistImportResultResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/admin/spotify/status": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get Spotify API configuration status.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SpotifyStatusResponse"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/admin/spotify/sync/status": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get Spotify sync scheduler status and recent runs.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SpotifySyncStatusResponse"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/admin/spotify/sync/run": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Run Spotify artist sync immediately.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SpotifySyncRunResponse"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/admin/spotify/artists/search": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Search Spotify artists through the server credentials.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQuery"
          },
          {
            "$ref": "#/components/parameters/SpotifyLimitQuery"
          },
          {
            "$ref": "#/components/parameters/SpotifyMarketQuery"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SpotifyArtistSearchResponse"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/admin/spotify/artists/import": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Import one or more Spotify artists into the local artist catalog.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SpotifyArtistImport"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ArtistImportResultResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/admin/spotify/artists/refresh": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Refresh Spotify profile data for local artists.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SpotifyArtistRefresh"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ArtistImportResultResponse"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/admin/acts/unmapped": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "List timetable acts without mapped artists.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AdminLimitQuery"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/UnmappedActsResponse"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/admin/acts/{actId}/suggestions": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get artist mapping suggestions for an act.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ActId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ActSuggestionsResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/admin/acts/{actId}/artists": {
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Save artist mappings for an act.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ActId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ActArtistMapping"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ActArtistMappingResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/admin/livestream-chat/mutes": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "List livestream chat mutes and bans.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EventSlugQuery"
          },
          {
            "$ref": "#/components/parameters/LivestreamMuteStatusQuery"
          },
          {
            "$ref": "#/components/parameters/LivestreamMuteTypeQuery"
          },
          {
            "$ref": "#/components/parameters/SearchQuery"
          },
          {
            "$ref": "#/components/parameters/AdminLimitQuery"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LivestreamChatMutesResponse"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/admin/livestream-chat/mutes/{muteId}/clear": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Expire an active livestream chat mute or ban.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LivestreamMuteId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LivestreamChatMuteClearResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "bc_session"
      },
      "clientTokenHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Client-Token"
      }
    },
    "parameters": {
      "RoomCode": {
        "name": "roomCode",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 4,
          "maxLength": 12
        }
      },
      "PlanId": {
        "name": "planId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "SnapshotId": {
        "name": "snapshotId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "ShareTokenQuery": {
        "name": "token",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "MemberId": {
        "name": "memberId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "GroupPlanId": {
        "name": "groupPlanId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "SetId": {
        "name": "setId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "EventSlug": {
        "name": "eventSlug",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "EventSlugQuery": {
        "name": "eventSlug",
        "in": "query",
        "schema": {
          "type": "string"
        }
      },
      "EventSlugQueryRequired": {
        "name": "eventSlug",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "PlanTypeQuery": {
        "name": "planType",
        "in": "query",
        "schema": {
          "$ref": "#/components/schemas/PlanType"
        }
      },
      "PlanTypeQueryRequired": {
        "name": "planType",
        "in": "query",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/PlanType"
        }
      },
      "XClientToken": {
        "name": "X-Client-Token",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "PushEndpointQuery": {
        "name": "endpoint",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "format": "uri"
        }
      },
      "FeedbackId": {
        "name": "feedbackId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "FeedbackStatusQuery": {
        "name": "status",
        "in": "query",
        "schema": {
          "$ref": "#/components/schemas/FeedbackStatus"
        }
      },
      "FeedbackLimitQuery": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 500,
          "default": 100
        }
      },
      "ArtistSlugOrId": {
        "name": "slugOrId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SearchQuery": {
        "name": "q",
        "in": "query",
        "schema": {
          "type": "string"
        }
      },
      "SearchAliasQuery": {
        "name": "search",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Alias for q."
      },
      "ArtistLimitQuery": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 5000,
          "default": 120
        }
      },
      "ArtistSearchLimitQuery": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 50,
          "default": 12
        }
      },
      "OffsetQuery": {
        "name": "offset",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "default": 0
        }
      },
      "IncludeEmptyQuery": {
        "name": "includeEmpty",
        "in": "query",
        "schema": {
          "type": "boolean",
          "default": true
        },
        "description": "When false, only artists with timetable bookings are returned."
      },
      "ArtistBookingWhenQuery": {
        "name": "when",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "upcoming",
            "past",
            "all"
          ],
          "default": "all"
        }
      },
      "StreamId": {
        "name": "streamId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 3,
          "maxLength": 180
        }
      },
      "ChatMessageId": {
        "name": "messageId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "LivestreamStreamIdsQuery": {
        "name": "streamIds",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Comma-separated livestream stream ids."
      },
      "LivestreamMessageLimitQuery": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 200,
          "default": 100
        }
      },
      "MixlrHistoryLimitQuery": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 20000,
          "default": 5000
        }
      },
      "YoutubeVideoIdQuery": {
        "name": "videoId",
        "in": "query",
        "schema": {
          "type": "string"
        }
      },
      "YoutubeUrlQuery": {
        "name": "url",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "uri"
        },
        "description": "Alternative to videoId. The API extracts the YouTube video id from the URL."
      },
      "SpotifyLimitQuery": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 50,
          "default": 10
        }
      },
      "SpotifyMarketQuery": {
        "name": "market",
        "in": "query",
        "schema": {
          "type": "string",
          "minLength": 2,
          "maxLength": 2
        },
        "description": "Optional ISO 3166-1 alpha-2 market code for Spotify search."
      },
      "ActId": {
        "name": "actId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "LivestreamMuteId": {
        "name": "muteId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "LivestreamMuteStatusQuery": {
        "name": "status",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "active",
            "expired",
            "all"
          ],
          "default": "active"
        }
      },
      "LivestreamMuteTypeQuery": {
        "name": "type",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "all",
            "mutes",
            "bans"
          ],
          "default": "all"
        }
      },
      "AdminLimitQuery": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 500,
          "default": 200
        }
      }
    },
    "requestBodies": {
      "Signup": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SignupRequest"
            }
          }
        }
      },
      "Login": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LoginRequest"
            }
          }
        }
      },
      "ForgotPassword": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ForgotPasswordRequest"
            }
          }
        }
      },
      "ResetPassword": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ResetPasswordRequest"
            }
          }
        }
      },
      "ProfilePatch": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ProfilePatchRequest"
            }
          }
        }
      },
      "DeleteAccount": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DeleteAccountRequest"
            }
          }
        }
      },
      "PlanWrite": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PlanWriteRequest"
            }
          }
        }
      },
      "SharePlan": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SharePlanRequest"
            }
          }
        }
      },
      "SnapshotCreate": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SnapshotCreateRequest"
            }
          }
        }
      },
      "CreateRoom": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreateRoomRequest"
            }
          }
        }
      },
      "JoinRoom": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/JoinRoomRequest"
            }
          }
        }
      },
      "UpdateRoom": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UpdateRoomRequest"
            }
          }
        }
      },
      "UpdateRoomMember": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UpdateRoomMemberRequest"
            }
          }
        }
      },
      "GroupPlanWrite": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GroupPlanWriteRequest"
            }
          }
        }
      },
      "ImportCurrentPlan": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ImportCurrentPlanRequest"
            }
          }
        }
      },
      "ReplaceSelections": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ReplaceSelectionsRequest"
            }
          }
        }
      },
      "SelectionChange": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SelectionChangeRequest"
            }
          }
        }
      },
      "ClientToken": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ClientTokenRequest"
            }
          }
        }
      },
      "PushSubscription": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PushSubscriptionRequest"
            }
          }
        }
      },
      "DeletePushSubscription": {
        "required": false,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DeletePushSubscriptionRequest"
            }
          }
        }
      },
      "SchedulePushReminders": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SchedulePushRemindersRequest"
            }
          }
        }
      },
      "ExportTelemetry": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ExportTelemetryRequest"
            }
          }
        }
      },
      "FeedbackCreate": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/FeedbackCreateRequest"
            }
          }
        }
      },
      "SmtpTest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SmtpTestRequest"
            }
          }
        }
      },
      "AdminEventsUpdate": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AdminEventsUpdateRequest"
            }
          }
        }
      },
      "FeedbackStatusPatch": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/FeedbackStatusPatchRequest"
            }
          }
        }
      },
      "PlannerDataUpdate": {
        "description": "Full planner data payload. eventSlug in the path is authoritative.",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PlannerDataPayload"
            }
          }
        }
      },
      "AdminArtistSqlImport": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AdminArtistSqlImportRequest"
            }
          }
        }
      },
      "SpotifyArtistImport": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SpotifyArtistImportRequest"
            }
          }
        }
      },
      "SpotifyArtistRefresh": {
        "required": false,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SpotifyArtistRefreshRequest"
            }
          }
        }
      },
      "ActArtistMapping": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ActArtistMappingRequest"
            }
          }
        }
      },
      "LivestreamChatMessageCreate": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LivestreamChatMessageCreateRequest"
            }
          }
        }
      },
      "LivestreamChatStreamSettingsPatch": {
        "required": false,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LivestreamChatStreamSettingsPatchRequest"
            }
          }
        }
      },
      "LivestreamChatModerateUser": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LivestreamChatModerateUserRequest"
            }
          }
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Ok": {
        "description": "Successful operation.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OkResponse"
            }
          }
        }
      },
      "OkWithMessage": {
        "description": "Successful operation with a message.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OkWithMessageResponse"
            }
          }
        }
      },
      "UserResponse": {
        "description": "User response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UserResponse"
            }
          }
        }
      },
      "NullableUserResponse": {
        "description": "Current user response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NullableUserResponse"
            }
          }
        }
      },
      "AccountExportResponse": {
        "description": "Account export response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AccountExport"
            }
          }
        }
      },
      "EventsConfigResponse": {
        "description": "Event configuration response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/EventsConfigResponse"
            }
          }
        }
      },
      "PlansResponse": {
        "description": "Plans response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PlansResponse"
            }
          }
        }
      },
      "PlanResponse": {
        "description": "Plan response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PlanResponse"
            }
          }
        }
      },
      "ShareResponse": {
        "description": "Plan share response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ShareResponse"
            }
          }
        }
      },
      "SnapshotResponse": {
        "description": "Snapshot response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SnapshotResponse"
            }
          }
        }
      },
      "RoomsResponse": {
        "description": "Rooms response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RoomsResponse"
            }
          }
        }
      },
      "LeaveRoomResponse": {
        "description": "Room leave response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LeaveRoomResponse"
            }
          }
        }
      },
      "RoomInfoResponse": {
        "description": "Room metadata response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RoomInfoResponse"
            }
          }
        }
      },
      "JoinRoomResponse": {
        "description": "Join room response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/JoinRoomResponse"
            }
          }
        }
      },
      "RoomStateWithMe": {
        "description": "Room state and current member response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RoomStateWithMeResponse"
            }
          }
        }
      },
      "RoomStateOk": {
        "description": "Room state response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RoomStateOkResponse"
            }
          }
        }
      },
      "RoomMemberUpdateResponse": {
        "description": "Room member update response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RoomMemberUpdateResponse"
            }
          }
        }
      },
      "RoomMemberStateResponse": {
        "description": "Room member and state response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RoomMemberStateResponse"
            }
          }
        }
      },
      "DeleteRoomResponse": {
        "description": "Room deletion response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DeleteRoomResponse"
            }
          }
        }
      },
      "ImportCurrentPlanResponse": {
        "description": "Import current plan response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ImportCurrentPlanResponse"
            }
          }
        }
      },
      "MemberColorsResponse": {
        "description": "Member color metadata response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/MemberColorsResponse"
            }
          }
        }
      },
      "VapidPublicKeyResponse": {
        "description": "VAPID public key response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/VapidPublicKeyResponse"
            }
          }
        }
      },
      "PushSubscriptionResponse": {
        "description": "Push subscription response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PushSubscriptionResponse"
            }
          }
        }
      },
      "SchedulePushRemindersResponse": {
        "description": "Push reminder schedule response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SchedulePushRemindersResponse"
            }
          }
        }
      },
      "TelemetryResponse": {
        "description": "Telemetry response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TelemetryResponse"
            }
          }
        }
      },
      "FeedbackCreateResponse": {
        "description": "Feedback create response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/FeedbackCreateResponse"
            }
          }
        }
      },
      "FeedbackListResponse": {
        "description": "Feedback list response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/FeedbackListResponse"
            }
          }
        }
      },
      "FeedbackUpdateResponse": {
        "description": "Feedback update response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/FeedbackUpdateResponse"
            }
          }
        }
      },
      "AdminStatsResponse": {
        "description": "Admin stats response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AdminStatsResponse"
            }
          }
        }
      },
      "HealthResponse": {
        "description": "Health response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/HealthResponse"
            }
          }
        }
      },
      "PlannerDataResponse": {
        "description": "Planner timetable or lineup data.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PlannerDataResponse"
            }
          }
        }
      },
      "ArtistsResponse": {
        "description": "Artists.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArtistsResponse"
            }
          }
        }
      },
      "ArtistSearchResponse": {
        "description": "Artist search results.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArtistSearchResponse"
            }
          }
        }
      },
      "ArtistResponse": {
        "description": "Artist.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArtistResponse"
            }
          }
        }
      },
      "ArtistBookingsResponse": {
        "description": "Artist bookings.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArtistBookingsResponse"
            }
          }
        }
      },
      "ArtistImportResultResponse": {
        "description": "Artist import result.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArtistImportResultResponse"
            }
          }
        }
      },
      "SpotifyStatusResponse": {
        "description": "Spotify API status.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SpotifyStatusResponse"
            }
          }
        }
      },
      "SpotifySyncStatusResponse": {
        "description": "Spotify sync status.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SpotifySyncStatusResponse"
            }
          }
        }
      },
      "SpotifySyncRunResponse": {
        "description": "Spotify sync run result.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SpotifySyncRunResponse"
            }
          }
        }
      },
      "SpotifyArtistSearchResponse": {
        "description": "Spotify artist search results.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SpotifyArtistSearchResponse"
            }
          }
        }
      },
      "UnmappedActsResponse": {
        "description": "Unmapped timetable acts.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UnmappedActsResponse"
            }
          }
        }
      },
      "ActSuggestionsResponse": {
        "description": "Act artist suggestions.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ActSuggestionsResponse"
            }
          }
        }
      },
      "ActArtistMappingResponse": {
        "description": "Updated act artist mapping.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ActArtistMappingResponse"
            }
          }
        }
      },
      "LivestreamChatModeratorStatusResponse": {
        "description": "Livestream chat moderator status.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LivestreamChatModeratorStatusResponse"
            }
          }
        }
      },
      "LivestreamChatStatsResponse": {
        "description": "Livestream chat stats.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LivestreamChatStatsResponse"
            }
          }
        }
      },
      "LivestreamChatStreamSettingsResponse": {
        "description": "Livestream chat stream settings.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LivestreamChatStreamSettingsResponse"
            }
          }
        }
      },
      "LivestreamChatMessagesResponse": {
        "description": "Livestream chat messages.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LivestreamChatMessagesResponse"
            }
          }
        }
      },
[...]
